@font-face {
    font-family: "TTNorms";
    src: url("../task3/ARIAL.TTF") format("TTF");
}
html{
    box-sizing: border-box;
}
*, 
*::after, 
*::before{
    box-sizing: inherit;
    font: inherit;
    margin: 0;
}
.body{
    font-family: Arial;
}
.container{
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
.head{
    display: flex;
    align-items: center;
    direction: rtl;
    margin-top: 0.3rem;
    margin-right:0.4rem;
}
.headerImage{
    display: flex;
    align-items: center;
}
.listHeader{
    padding: 1rem;
}
.headerLi{
    width: 2.4rem;
    height: 2.4rem;
    color: #43484b;
    border-radius: 100%;
    padding: 4px;
    border: 2px solid #fff;
}
.Image1header{
    border-radius: 100%;
    padding: 4px;
    border: 2px solid #fff;
}
.Image1header:hover{
    background-color: #dfe1e5;
}
.headerLi:hover{
    background-color: #dfe1e5;
}
.optionList{
    text-decoration: none;
    list-style: none;
    display: flex;
    padding-right: 0;
    align-items: center;
}
.Option{
    text-decoration: none;
    margin: 1rem;
    padding-top: 0.7rem;
    color: #43484b;
}
.Option:hover{
    text-decoration-line: underline;
}
.Mainmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}
.ImageMain{
    align-items: center;
    margin-bottom: 1rem;
}
.search{
    display: flex;
    align-items: center;
    position: relative;
}
.mainInpot{
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    width: 37rem;
    height: 3rem;
    border-radius: 2rem;
    position: relative;
    z-index: 1;
}
.mainInpot:hover{
    box-shadow:2px 2px 16px #7f8285;
}
.searchIcon{
    width: 1.4rem;
    height: 1.4rem;
    color: #43484b;
    position: absolute;
    top: 13px;
    left: 10px;
    z-index: 3;
    color: #9aa0a6;
}
.searchMic{
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    top: 13px;
    right: 47px;
    z-index: 3;
}
.searchCam{
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    top: 13px;
    right: 20px;
    z-index: 3;
}
.Option{
display: block;
}
.mainOption1{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.mainOption1:hover{
    text-decoration: none;
    box-shadow: 1px 1px  2px #9aa0a6 ;
}
.mainOption2:hover{
    box-shadow: 1px 1px  2px #9aa0a6 ;
}
.mainOption2{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.holefooter{
    background-color: #eeeff0;
    height: 3.8rem;
    margin-top: 24.9rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.footerRightA{
    text-decoration: none;
    color: #3c4043;
}
.footerRightUL{
    text-decoration: none;
    list-style: none;
    display: flex;
    padding-left: 0;
}
.options{
    margin: 1rem;
    color: #3c4043;
}
.options:hover{
    text-decoration-line: underline;
}
.footerLeftA{
    text-decoration: none;
    color: #3c4043;
}
.footerLeftUL{
    text-decoration: none;
    list-style: none;
    display: flex;
    padding-left: 0;
}
@media only screen and (max-width: 568px){
    .holefooter{
        height: 6.5rem;
    }
    .mainInpot{
        width: 27rem;
    }
}